# ingore the node_modules directory
node_modules

# ignore the frontend node_modules directory 
frontend/node_modules

frontend/dist

# ignore the experiments 
experiments/*

# igore the .vscode directory