body{
    background-color: #DDE;
    margin: auto;
    font-family: Helvetica, sans-serif
}

.centralize-content{
    text-align: center;
}

#setPinsArea{
    background-color: #EFEFEF;
}

#setPinsArea h3{
    display: inline;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#buttonSwitch, #startExperiment{
    display: none;
}

.chart-area{
    background-color: #fff;
}

.controls{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px auto auto auto;
}

header img{
    position: absolute;
    width: 160px;
    margin-top: 5px;
    margin-left: 15px;
}

@media (max-width: 900px) {
    .small{
        width: 80%;
    }
    .big{
        width: 90%;
    }
    header img{
        display: none;
    }
    ul{
        justify-content: center;
    }
}

@media (min-width: 900px) {
    .small{
        width: 50%;
    }    
    .big{
        width: 78%;
    }
    ul{
        justify-content: right;
    }
}

nav, ul{
    border-top: 0px;
    margin-top: 0px;
    user-select: none;
    margin-bottom: 0px;
    background-color: #111111;
    flex-direction: row-reverse;
}

ul{
    margin-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

ul li{
    font-size: 1.1rem;
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-right: 1px;
    border-left: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #111111;
    color: white;
    display: inline;
    cursor: pointer;
    user-select: none;
}

ul li:hover{
    transform: scale(1.03);
    color: #ddd;
}

.marked{
    border-radius: 4px;
    border-color: #777;
    background-color: #000;
}

.container{
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
}

*{
    user-select: none;
}

#container2{
    display: block;
}

.container .bottom-container{
    padding: 4px;
    flex-wrap: wrap;
    display: flex;  
    align-items: flex-start;                  
    justify-content: space-evenly;      
    background-color: #111111;
    color: white;
    margin-bottom: 0px;
    /* border-bottom: 0px; */
    font-size: 1.1rem;
}

.img-fluid{
    width: 75%;
}

input[type="number"]{
    width: 55px;
}

.container .value{
    margin: 0px 0px 0px 0px;
    display: inline;
    font-size: 1.3rem;
}

.container h1{
    padding: 1.5px;
    font-size: 1.2rem;
    background-color: #111111;
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
}